<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo">
        <img src="assets/logoDaza.png" alt="Logo Daza Software">
    </div>
    <ul class="links">
        <li><a routerLink="home" routerLinkActive="router-link-active">Inicio</a></li>
        <li><a routerLink="search" routerLinkActive="router-link-active">Especies</a></li>
        <li><a routerLink="photos" routerLinkActive="router-link-active">Fotos</a></li>

    </ul>
    <label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>